@model IEnumerable<WebApplication13.Models.ViewModels.Article>

@{
    ViewBag.Title = "AllPublicArticles";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.articleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.articleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

    @if (null != Model)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.articleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.articleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.articleContent })
            </tr>
        }
    }

</table>