<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <table style="width: 100%; background-color: gray; margin-left: auto; margin-right: auto;">
        <tr>

            <td>
                @if (Session["userdata"] != null)
                {
                    @: Hello @((mySite.Models.connecteduser)Session["userdata"]), @Html.ActionLink("Log Off", "disconnect", "Default")
                }

            </td>
            <td style="text-align: center">your site fixed hdr should appeared here</td>
        </tr>
        <tr>
            <td style="text-align: center; width: 200px;">
                @if (Session["userdata"] != null)
                {
                    <text>
                    your site fixed mnu should appeared here
                    </text>
                    
                }
                @if (Session["userdata"] != null && ((mySite.Models.connecteduser)Session["userdata"]).IsAdmin)
                {
                    <p>
                        u admin
                    </p>
                }
            </td>
            <td style="text-align: center;">@RenderBody()</td>
        </tr>

    </table>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
