@model mySite.Models.user

@{
    ViewBag.Title = "adduser";
}

<h2>adduser</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>user</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.userLogin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userLogin)
            @Html.ValidationMessageFor(model => model.userLogin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userPassword)
            @Html.ValidationMessageFor(model => model.userPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userRealName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userRealName)
            @Html.ValidationMessageFor(model => model.userRealName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
